.app {
	width: 1400px;
}

@media only screen and (max-width : 1400px) and (orientation: portrait) {
	.app {
		width: 100%;
	}
}

@media only screen and (max-width : 1400px) and (orientation: landscape) {
	.app {
		width: 100%;
	}
}