.contacts__card {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 60px;
	margin-right: 5%;
	margin-bottom: 5%;
	/*border: 1px solid black;*/
	box-shadow: 0 10px 6px -6px #777;
	border-radius: 10px;
	text-align: center;
	font-size: 3vw;
	line-height: 3vw;
	transition: all .3s;
	background: #FAF9F5;
}

.contacts__card:hover {
	box-shadow: 0 3px 2px -2px #777;
}

.contacts__card:hover .fa-vk {
	color: #507299;
}

.contacts__card:hover .fa-facebook {
	color: #3B5998;
}

.contacts__card:hover .fa-linkedin {
	color: #1E87BE;
}

.contacts__card:hover .fa-github {
	color: #4078C0;
}

.contacts__card:hover .fa-twitter {
	color: #61BCF6;
}

.contacts__card a {
	color: #000;
	text-decoration: none;
}