.technology__card {
	position: relative;
	display: inline-block;
	width: 20%;
	height: auto;
	margin-right: 5%;
	margin-bottom: 5%;
	padding: 1% 1%;
	/*border: 1px solid black;*/
	box-shadow: 0 10px 6px -6px #777;
	border-radius: 10px;
	text-align: center;
	font-size: 1.2vw;
	line-height: 1vw;
	transition: all .3s;
	background: #FAF9F5;
}

.technology__card img {
  max-width: 50%;
  height: 10vh;
}

.technology__card:hover {
	box-shadow: 0 3px 2px -2px #777;
}

@media only screen and (max-width : 1400px) and (orientation: portrait) {
		.technology__card img {
			height: 10vw;
		}
}

@media only screen and (max-width : 1400px) and (orientation: landscape) {
	.services__card {
			font-size: 2vw;
			line-height: normal;
		}
}
