.work__card {
	position: relative;
	display: inline-block;
	width: 45%;
	height: auto;
	margin-right: 5%;
	margin-bottom: 5%;
	padding: 1% 1%;
	/*border: 1px solid black;*/
	box-shadow: 0 10px 6px -6px #777;
	border-radius: 10px;
	text-align: center;
	font-size: 1.2vw;
	line-height: 1vw;
	transition: all .3s;
	background: #FAF9F5;
	vertical-align: top;
}

.work__card a {
}

.work__card img {
  max-width: 100%;
  height: auto;
}

.work__card:hover {
	box-shadow: 0 3px 2px -2px #777;
}

.work-description {
	position: absolute;
	top: 0;
	left: 0;
	width: 99%;
	height: 100%;
	padding: 5% 3%;
	color: #fff;
	background: rgba(0,0,0,0.7);
	font-family: 'Roboto Condensed', sans-serif;
 	 font-weight: 300;
 	 z-index: 10;
}

.work-description__header {
	font-size: 1.1em;
	margin-bottom: 3vh;
	text-decoration: underline;
}

.work-description__text {
	font-size: 0.8em;
	line-height: 1.1em;
}
